<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.onlinelibrary.dao.PubMapper" >
  <resultMap id="BaseResultMap" type="com.example.onlinelibrary.entity.Pub" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="from_id" property="fromId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="support_num" property="supportNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, from_id, create_time, title, word, support_num, status, weight, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from all_pub
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from all_pub
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.example.onlinelibrary.entity.Pub" >
    insert into all_pub (id, from_id, create_time, 
      title, word, support_num, 
      status, weight, description
      )
    values (#{id,jdbcType=CHAR}, #{fromId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{title,jdbcType=VARCHAR}, #{word,jdbcType=VARCHAR}, #{supportNum,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{weight,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.onlinelibrary.entity.Pub" >
    insert into all_pub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fromId != null" >
        from_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="supportNum != null" >
        support_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="fromId != null" >
        #{fromId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="supportNum != null" >
        #{supportNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.onlinelibrary.entity.Pub" >
    update all_pub
    <set >
      <if test="fromId != null" >
        from_id = #{fromId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="supportNum != null" >
        support_num = #{supportNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.onlinelibrary.entity.Pub" >
    update all_pub
    set from_id = #{fromId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      word = #{word,jdbcType=VARCHAR},
      support_num = #{supportNum,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      weight = #{weight,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <delete id="deleteByMap" parameterType="map" >
    delete from all_pub
    <where>
        and id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
    </where>
  </delete>
  
  <!-- id, from_id, create_time, title, word, support_num, status, weight, description -->
  <select id="selectByMap" resultType="flybear.hziee.core.sql.Row" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from all_pub
    <where>

    </where>
    <if test="start != null and start &gt; -1">
      limit #{start} , #{end}
    </if>
  </select>

  <select id="countByMap" resultType="java.lang.Integer" parameterType="map" >
    select count(*)
    from all_pub
    <where>

    </where>
  </select>
</mapper>